div {
    background-size: 100%;
    height: 100vh;
    width: 100%;
    /* transform: rotate(90deg); */
    background-repeat: no-repeat;
    background-position: center;
}

.fsvid{
    height: 100%;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}